/* All elements style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Root style */
:root {
  font-size: 16px;
}
/* Body style */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* First menu */
/* X-menu style */
.x-menu {
  width: 5rem;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 5rem;
  left: 2rem;
}
/* Menu lines style */
.x-menu div {
  width: 5rem;
  height: 0.7rem;
  background-color: blue;
  border-radius: 25%;
  transition: 0.5s;
}
/* Change shape by Hover */
/* Top line style */
.x-menu:hover .top {
  transform: rotate(0.15turn);
  position: absolute;
}
/* Middle line style */
.x-menu:hover .middle {
  display: none;
}
/* Bottom line style */
.x-menu:hover .bottom {
  transform: rotate(-0.15turn);
}
/* Second menu */
/* Sword menu */
.sword-menu {
  width: 5rem;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 5rem;
}
.sword-menu div {
  width: 5rem;
  height: 0.7rem;
  background-color: yellow;
  border-radius: 25%;
  transition: 0.5s;
}
/* Change shape by Hover */
/* Top line style */
.sword-menu:hover .s-top {
  transform: rotate(-0.15turn);
}
/* Middle line style */
.sword-menu:hover .s-middle {
  display: none;
}
/* Bottom line style */
.sword-menu:hover .s-bottom {
  transform: rotate(0.15turn);
}
/* Sword menu rotate */
.sword-menu:hover {
  transform: rotate(-0.25turn);
}
/* Third menu */
/* A menu */
.a-menu {
  width: 5rem;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 5rem;
}
.a-menu div {
  width: 5rem;
  height: 0.7rem;
  background-color: red;
  border-radius: 25%;
  transition: 0.5s;
}
/* Change shape by Hover */
/* Top line style */
.a-menu:hover .a-top {
  transform: rotate(-0.06turn);
}
/* Middle line style */
.a-menu:hover .a-middle {
  width: 4rem;
  transform: rotate(0.25turn);
}
/* Bottom line style */
.a-menu:hover .a-bottom {
  transform: rotate(0.06turn);
}
/* Sword menu rotate */
.a-menu:hover {
  transform: rotate(0.25turn);
}
